.btn {
  max-width: max-content;
}
.btn-primary {
  display: inline-block;
  background-color: #f8ac10;
  font-family: "Poppins";
  font-weight: 700;
  color: #332200;
  font-size: 18px;
  padding: 16px 48px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
  background: linear-gradient(#ffb06d, #e59317);
  transition: 0.3s;
}
.btn-secondary {
  display: inline-block;
  background-color: var(--cor-10);
  font-family: "Poppins";
  font-weight: 700;
  color: var(--cor-0);
  font-size: 18px;
  padding: 16px 48px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-seta {
  display: flex;
  align-items: center;
}

.btn-seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
}

.btn-seta:hover::after {
  transform: translateX(4px);
}
