body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 3000px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
h1,
blockquote {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.logo {
  width: fit-content;
}
.img-hero {
  width: 100%;
  display: block;
}
.biciletas-listas-items img {
  display: block;
  width: 100%;
}
[src$=".jpg"] {
  border-radius: 4px;
}
